<div class="main-div">
</div>
<div class="main-content">
</div>
<div>
    <mat-toolbar style="background-color: transparent; position: fixed; top: 0;">
        <button mat-icon-button>
            <mat-icon style="color: white;">home</mat-icon>
        </button>
        <span class="fill-space"></span>
        <span style="color: white;">
            <small style="font-size: small;">CS2702 - Data Base II</small>
            
        </span>
    </mat-toolbar>
    
    <div class="section">
        <h3 class="mat-display-2">Database Multimedia</h3>
        <div class="get-started">
            <p style="max-width: 50%;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum assumenda rem numquam dolores dignissimos libero aut animi, facilis nobis unde aliquam eum! Officiis aut laudantium aliquid sed quibusdam explicabo minima.
            </p>
            <button mat-stroked-button routerLink="/search">Try now</button>
        </div>   
    </div>
    <div style="width: 100%; position: absolute; bottom: 10px; text-align: center; color: white;">
        <span>Carlos Cupe | Leonidas García | Roosevelt Ubaldo</span>
    </div>
</div>




