#heading {
    background-color: #111111;
    color: rgba(255, 255, 255, 0.5);
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(17, 17, 17, 0.25), rgba(17, 17, 17, 0.25)), url("../../assets/main-bg-2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 0;
    height: 12rem !important;
    min-height: 12rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%; }
    #heading:before {
      background: linear-gradient(135deg, #000000 0%, #111111 74%);
      content: ' ';
      display: block;
      height: 100%;
      left: 0;
      opacity: 0.6;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1; }
    #heading h1 {
      margin-bottom: 0;
      position: relative;
      color: white;
      font-size: xxx-large;
      z-index: 2; }
    @media screen and (max-width: 980px) {
      #heading {
        padding: 2rem; } 
}
  
.fill-space {
    flex: 1 1 auto;
}

code {
  font-family: Consolas,"courier new";
  color: rgb(20, 100, 220);
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}

button {
  margin-right: 10px;
  margin-left: 10px;
}