<mat-toolbar style="background-color: black; height: auto;">
    <button mat-icon-button routerLink="/load"><mat-icon style="color: white;">keyboard_backspace</mat-icon></button>
    <span class="fill-space"></span>
    <span>
        <small style="color: white; font-size: small;">CS2702 - Data Base II</small>       
    </span>
</mat-toolbar>
<div id="heading" >
    <h1>Search Engine</h1>
</div>
<div style="margin-top: 25px; text-align: center;">
    <span style="font-size: 14px;">Now, type something to search in the files previously uploaded.</span>
</div>
<div style="text-align: center; margin-top: 25px;">
    <mat-form-field appearance="outline" style="width:50vw; max-width: 665px; min-width: 280px;">
        <mat-label>Type something</mat-label>
        <input matInput [(ngModel)]="text_query" type="text">
    </mat-form-field>
    <button mat-icon-button  style="margin-left: 10px;" ><mat-icon color="primary">search</mat-icon></button>
</div>


<div style="margin: 10px;">
  <div fxLayout="row wrap" fxLayoutGap="10px grid">
    
    <div fxFlex class= "card-tweet" *ngFor="let item of htmls">
      <mat-card  style="width: 400px;" >
        <mat-card-header>
          <div mat-card-avatar class="card-avatar"></div>
          <mat-card-title>Username</mat-card-title>
          <mat-card-subtitle>Date</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div [innerHTML]="item"></div>
        </mat-card-content>
      </mat-card>
     
    </div>   
  </div>
</div>

  


  
  