<mat-toolbar style="background-color: black; height: auto;">
  <button mat-icon-button routerLink="/">
      <mat-icon style="color: white;" >home</mat-icon>
  </button>
  <span class="fill-space"></span>
  <span>
      <small style="color: white; font-size: small;">CS2702 - Data Base II</small>       
  </span>
</mat-toolbar>
<div id="heading" >
  <h1>Search Engine</h1>
</div>
<mat-horizontal-stepper linear #stepper>
  <mat-step >
      <ng-template matStepLabel>Set up</ng-template>
      <div style="margin-top: 25px; text-align: center;">
          <span style="font-size: 14px;">Please, choose the type of search.</span>
      </div>
      <div style="text-align: center; margin-top: 25px;">
          <mat-form-field appearance="outline" style="width:50vw; max-width: 665px; min-width: 280px;">
              <mat-label>Select an option</mat-label>
              <mat-select [(value)]="selected">
                <mat-option>None</mat-option>
                <mat-option value="option1">R-Tree Index</mat-option>
                <mat-option value="option2">NN</mat-option>
              </mat-select>
            </mat-form-field>
      </div>

      <div style="margin-top: 25px; text-align: center;">
          <span style="font-size: 14px;">Now, type the number of images to be recovered.</span>
      </div>
      <div style="text-align: center; margin-top: 25px;">
          <mat-form-field appearance="outline" style="width:50vw; max-width: 665px; min-width: 280px;">
              <mat-label>Type a number</mat-label>
              <input matInput [(ngModel)]="text_query" type="number">
          </mat-form-field>
      </div>

      <button mat-flat-button  style="float: right;" matStepperNext>Next <mat-icon color="primary">navigate_next</mat-icon></button>
  </mat-step>

  <mat-step >
      <ng-template matStepLabel>Upload an Image</ng-template>
      <div style="text-align: center; margin-top: 30px">
          <span style="font-size: 14px;">Please, upload all the files in <code>.jpg, .png</code> or <code>.gif</code> format to be used in the building of the inverted index.</span>
          <file-upload style="margin-top: 30px; margin-bottom: 10px;" accept="image/*" maxsize="20 MB" [control]="fileUploadControl" [fileslimit]="1"></file-upload>
          <button mat-raised-button color="primary" (click)="upload()">Upload</button>
      </div>
      <br>
      <br>
      <button mat-flat-button  style="float: left;" matStepperPrevious><mat-icon color="primary">navigate_before</mat-icon> Prev</button>
      <button mat-flat-button  style="float: right;" matStepperNext>Next <mat-icon color="primary">navigate_next</mat-icon></button>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Results</ng-template>
    <div style="margin-top: 25px; text-align: center;">
      <span style="font-size: 14px;">This is a result.</span>
  </div>
  <button mat-flat-button  style="float: left;" matStepperPrevious><mat-icon color="primary">navigate_before</mat-icon> Prev</button>
  </mat-step>
</mat-horizontal-stepper>



